body {
    font-size: 20px;
}

/*#hello {
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/90/39/waving-hello-emoticon-vector-6769039.jpg);
}

#yes {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Eo_circle_green_checkmark.svg/1200px-Eo_circle_green_checkmark.svg.png);
}

#no {
    background-image: url(https://png.pngtree.com/png-clipart/20211009/original/pngtree-red-close-icon-png-image_6839488.png);
}*/

body {
    background-color: #a4a4a4;
}

.table-btn {
    text-align: center;
    width: 100px;
    height: 100px;
}

#board {
    margin: auto;
    width: 85%;
    height: 85%;
    background-color: transparent;
}

.main {
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comm-btn {
    background-color: white;
    width: 90%;
    height: 90%;
    border-radius: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 15px;
}